<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('img/glider.svg') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>

        <header class="site-header" style="background-image: url({{ asset('img/background.jpg') }})">
        </header>

        <nav class="robonav">
            <a href="{{ path('main') }}">Main</a>
            <a href="{{ path('about') }}">About</a>
            <a href="{{ path('report') }}">report</a>
            <a href="{{ path('api') }}">Json Api</a>
            <a href="{{ path('lucky') }}">Lucky</a>
        </nav>

        <main>
            {% block body %}{% endblock %}
        </main>

        <footer class="robofooter">
            <p>Here be a footer and some text<p>
        </footer>
    </body>
</html>
